<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
            <%= link_to t(:flashcards), main_app.trainer_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to t(:flashcards), main_app.root_path, class: "navbar-brand" %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <% if defined?(News) %>
              <li>
                <%= link_to t(:news), news.articles_path %>
              </li>
            <% end %>

            <li class="dropdown">
              <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-expanded="false">
                  Колоды<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to t(:all_decks), main_app.blocks_path %>
                  </li>
                  <li>
                    <%= link_to t(:add_deck), main_app.new_block_path %>
                  </li>
                </ul>
              <% end %>
            </li>

            <li class="dropdown">
              <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Карточки<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to t(:all_cards), main_app.cards_path %>
                  </li>
                  <li>
                    <%= link_to t(:add_card), main_app.new_card_path %>
                  </li>
                  <li>
                    <%= link_to t(:parse_html), '#', data: { toggle: 'modal', target: '#modal_parsing_html' } %>
                  </li>
                </ul>
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Пользователь<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to t(:user_profile), main_app.edit_profile_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to t(:delete_user), main_app.user_path(current_user),
                                method: :delete, data: { confirm: 'Удалить пользователя?' } %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to t(:invite_friends), '#', data: { toggle: 'modal', target: '#modal_invite_friends' } %>
              </li>
              <% if (current_user.has_role? :admin) || (current_user.has_role? :super) %>
                <li>
                  <%= link_to t(:administration), main_app.admin_root_path %>
                </li>
              <% end %>
              <li>
                <%= link_to t(:log_out), main_app.logout_path, method: :post %>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= t(:locale) %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% I18n.available_locales.each do |locale| %>
                    <li>
                      <%=link_to locale, main_app.root_path(user_locale: locale) %>
                    </li>
                  <% end %>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= t(:authorization) %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to t(:log_in), main_app.login_path %>
                  </li>
                  <li>
                    <%= link_to t(:log_in_with_github), main_app.auth_at_provider_path(provider: :github) %>
                  </li>
                  <li>
                    <%= link_to t(:sing_up), main_app.new_user_path %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
