<% if @card %>
  <h2>Текущая карточка</h2>
  <%= form_tag review_path(id: @card.id), method: :put do %>
    <div class="form-group">
      <%= label_tag '', 'Оригинал' %>
      <%= text_area_tag '', @card.original_text, class: 'form-control',
                        disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag '', 'Перевод' %>
      <%= text_area_tag :user_translation, nil, class: 'form-control',
                        required: true, autofocus: true %>
    </div>

    <%= submit_tag 'Проверить', class: 'btn btn-default' %>
  <% end %>
<% else %>
  <p class="lead">Вы изучили все доступные карточки.
    Ожидайте наступления даты пересмотра.</p>
<% end %>