<% if @card %>
  <%= form_tag review_path(id: @card.id), method: :put do %>
    <% if flash[:alert] %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if flash[:alert] %>
          <p id="notice"><%= flash[:alert] %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= label_tag '', 'Original text' %>
      <%= text_area_tag '', @card.original_text, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag '', 'Translated text' %>
      <%= text_area_tag :user_translation, nil, class: 'form-control', required: true, autofocus: true %>
    </div>

    <%= submit_tag 'Проверить', class: 'btn btn-default' %>
  <% end %>
<% else %>

  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice">Вы изучили все доступные карточки. Ожидайте наступления даты пересмотра.</p>
  </div>

<% end %>