<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container" id="wrapper">

  <div class="row" id="header">
    <div class="col-sm-12">
      <%= render 'indexes/header' %>
    </div>
  </div>

  <div class="row" id="middle">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>